# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
.envrc
eclipse
run
runs
run-data
.blockbench
repo
CLAUDE.md
TerraFirmaCraft